footer {
    width: 100%;
    background-color: rgba(207, 216, 220, 0.6);
    padding: 5px 0px 30px;
    margin-top: auto;
}

.footerDiv {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    font-family: Roboto Mono, monospace;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footer-text {
    display: block;
    font-size: 1.4rem;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: all 0.2s ease 0s;
    padding: 5px;
}

.footer-text:hover {
    color: rgba(0, 0, 0, 0.8);
}

a svg {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 100% / 82%), 0 2px 16px 0 #fff;
    color: rgba(0, 0, 0, .8);
    font-size: 40px;
    margin: 10px;
    padding: 5px;
    transition: color .2s, box-shadow 1s;
}

a svg:hover {
    box-shadow: 0 54px 55px hsl(0deg 0% 100% / 25%), 0 -12px 30px hsl(0deg 0% 100% / 12%), 0 4px 6px hsl(0deg 0% 100% / 12%), 0 12px 13px hsl(0deg 0% 100% / 17%), 0 -3px 5px hsl(0deg 0% 100% / 9%);
    color: #000;
}